<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>
            CATEDRAL ORZHOV - HOME
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='favicon orzhov.ico')}}" type="image/x icon"/>
        </head>
    <body>
        
        <div id="bunner">

        <header id="cabecalho">
            <br>
        <h1 id="logo">CATERAL ORZHOV</h1>
                <H2 id="logo">"Só é ato de heresia, se quem o cometeu está com o dízimo atrasado."</H2>
        
            <nav id="menu">
            <ul>
            <li><a href="{{url_for('homepage')}}">ÍNICIO</a></li>
            <li><a href="{{url_for('org')}}">ORGANIZAÇÃO</a></li>
            <li><a href="{{url_for('filiacao')}}" target="_self">FILIAÇÃO</a></li>
            <li><a href="{{url_for('denuncia')}}" target="_self">INQUISIÇÃO</a></li>
            <li><a href="{{url_for('loja')}}" target="_self">LOJA</a></li>
            </ul>
    
            </nav>

        </header>
    </div>
        <div id="principal">
    </body>
</html>