<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>
            CATEDRAL ORZHOV - HOME
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='favicon orzhov.ico')}}" type="image/x icon"/>
        </head>
    <body>
        
        <div id="bunner">

        <header id="cabecalho">
            <br>
        <h1 id="logo">CATERAL ORZHOV</h1>
                <H2 id="logo">"Só é ato de heresia, se quem o cometeu está com o dízimo atrasado."</H2>
        
            <nav id="menu">
            <ul>
            <li><a href="{{url_for('homepage')}}">ÍNICIO</a></li>
            <li><a href="{{url_for('org')}}">ORGANIZAÇÃO</a></li>
            <li><a href="{{url_for('filiacao')}}" target="_self">FILIAÇÃO</a></li>
            <li><a href="{{url_for('denuncia')}}" target="_self">INQUISIÇÃO</a></li>
            <li><a href="{{url_for('loja')}}" target="_self">LOJA</a></li>
            </ul>
    
            </nav>

        </header>
    </div>
        <div id="principal">
       
  
<h1>ORGANIZAÇÃO E LIDERANÇA</h1>
 
<p>Os Orzhov são a mais rica e mais ostensiva das guildas de Ravnica. Seus salões (que podem ser vistas como um cruzamento entre uma catedral e um banco) são revestidas de mármore preto e dourado. Arcobotantes e altos arcos góticos abundam.</p>
 
<figure class="fotoLegenda" id="capela" >
    <img src="{{url_for('static',filename='capela01.jpeg')}}"> <figcaption id="capela"><h1 class="imagem">ORZHOVA</h1>
        <p class="imagem">Catedral de Orzhova em toda a sua glória.</p>
    </figcaption>
   
</figure>

<p> A guilda Orzhov é governada pelo Obzedat, um conselho de autocratas fantasmagóricos que mantiveram sua riqueza e poder mesmo após se livrarem de suas formas mortais. Os membros do Obzedat conseguiram trapacear a mortalidade, preservando suas consciências (e sua ganância) além da barreira morte. Eles são ditadores paranoicos e vingativos, e frequentemente não medem esforços para derrubar subalternos ambiciosos, esmagar boateiros e espionar inimigos em potencial. É raro o Obzedat falar diretamente com alguém de fora da guilda; em vez disso, eles enviam sua representante oficial, Teysa Karlov.</p>
 
 <p>Os membros do alto escalão Orzhov usam meios mágicos para expandirem suas vidas, e são mutados permanentemente de diversas maneiras, passando essas deformidades para seus descendentes. Os patriarcas, por exemplo, são humanos, mas vivem tanto tempo e de forma tão decadente que tornam-se essencialmente nada mais do que sacos de carne cinza. A mana preta empregada para estas finalidades não ajuda neste sentido. Estes patriarcas são as versões vivas dos fantasmas que compõem o conselho dirigente de Orzhova.</p>
 
 <p>Mas não é apenas no topo da guilda que a linha entre a vida e a morte é manipulada e explorada. Além dos plutocratas fantasmas-patriarcas da guilda, seus outros espíritos são principalmente ornamentados com mascaras e outros adereços de ouro. Eles servem como arautos, sentinelas e símbolos da percistencia e longevidade da guilda. Se alguém esta em dívida com Orzhova e o Obzedat (como muitos estão), essa pessoa deve trabalhar para saldar seu débito, mesmo além do túmulo. Este tempo de serviço geralmente corresponde à centenas de anos, muitas vezes mais do que uma pessoa consiga pagar em uma vida, e por isso muitos escravos Orzhov são espíritos ou mesmo herdam a dívida de seus antepassados distantes.</p>
 
<p>Os serviçais Orzhov incluem também gárgulas e Thrulls (sim, eles trabalham tão bem com a morte que são capazes de cria-los), animados a partir de corpos, que muitas vezes pertencem a líderes menores dentre os próprios membros do Sindicato.</p>
 
<p>Assim como em muitas castas dentro da guilda, os clérigos muitas vezes usam máscaras como uma demonstração simbólica de esconderem seus rostos – por falsidade, bem como vergonha e reverência.</p>

<p>Como qualquer organização de poder hierárquico, o Sindicato Orzhov também possui seus impositores.  Estes soldados Orzhov estão presentes como uma demonstração de força – um símbolo do governo sempre presente de Orzhova.</p>

<p>O Conselho Fantasmal costuma manter apenas as mentes mais inteligentes, as quais por coincidência também são as mais sorrateiras e gananciosas, muitas das quais datam da fundação da própria guilda. É possível que os fundadores do Obzedat eram os representantes Orzhov que originalmente assinaram o Pacto das Guildas, ou que eram apenas os que viveram durante esse tempo. Os séculos de experiência que possuem, em conjunto com suas legiões de advoquistas (magos da lei Orzhov), transformaram os Orzhov na guilda mais dedicada a distorcer o Pacto das Guildas a seu favor. Mesmo com suas deficiências em poder de combate, os Orzhov garantem o respeito das demais guildas através do uso constante de suas riquezas e astúcia.<sup>1</sup></p>
<footer id="principal">


</br>Copright &copy;2023- Stephan Morais</footer></br>
    REFERÊNCIAS: <sup>1</sup>.LAMAZUS. Sindicato Orzhov. MTGVortex, 2012. Disponível em: <a href="https://mtgvortex.blogspot.com/2012/11/sindicato-orzhov.html ">https://mtgvortex.blogspot.com/2012/11/sindicato-orzhov.html</a>

</footer>
</div>
  </body>
</html>