<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>
             ORGANIZAÇÃO
        </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='favicon orzhov.ico')}}" type="image/x icon"/>
        </head>
    <body>
        
        <div id="bunner">

        <header id="cabecalho">
            <br>
        <h1 id="logo">CATERAL ORZHOV</h1>
                <H2 id="logo" class="logo">"Só é ato de heresia, se quem o cometeu está com o dízimo atrasado."</H2>
        
            <nav id="menu">
            <ul>
            <li><a href="{{url_for('homepage')}}">ÍNICIO</a></li>
            <li><a href="{{url_for('org')}}">ORGANIZAÇÃO</a></li>
            <li><a href="{{url_for('filiacao')}}" target="_self">FILIAÇÃO</a></li>
            <li><a href="{{url_for('denuncia')}}" target="_self">INQUISIÇÃO</a></li>
            <li><a href="{{url_for('loja')}}" target="_self">LOJA</a></li>
            </ul>
    
            </nav>

        </header>
    </div>
        <div id="principal">
       
<section id="estrutura">
<h1>ORGANIZAÇÃO E LIDERANÇA</h1>
<h2 id="OURO">ESTRUTURA GERAL</h2>
 
<p>Os Orzhov são a mais rica e mais ostensiva das guildas de Ravnica. Seus salões (que podem ser vistas como um cruzamento entre uma catedral e um banco) são revestidas de mármore preto e dourado. Arcobotantes e altos arcos góticos abundam.</p>
 
<figure class="fotoLegenda" id="capela" >
    <img src="{{url_for('static',filename='capela01.jpeg')}}"> <figcaption id="capela"><h1 class="imagem">ORZHOVA</h1>
        <p class="imagem">Catedral de Orzhova em toda a sua glória.</p>
    </figcaption>
   
</figure>

<p > A guilda Orzhov é governada pelo Obzedat, um conselho de autocratas fantasmagóricos que mantiveram sua riqueza e poder mesmo após se livrarem de suas formas mortais. Os membros do Obzedat conseguiram trapacear a mortalidade, preservando suas consciências (e sua ganância) além da barreira morte. Eles são ditadores paranoicos e vingativos, e frequentemente não medem esforços para derrubar subalternos ambiciosos, esmagar boateiros e espionar inimigos em potencial. É raro o Obzedat falar diretamente com alguém de fora da guilda; em vez disso, eles enviam sua representante oficial, Teysa Karlov.</p>
 
 <p>Os membros do alto escalão Orzhov usam meios mágicos para expandirem suas vidas, e são mutados permanentemente de diversas maneiras, passando essas deformidades para seus descendentes. Os patriarcas, por exemplo, são humanos, mas vivem tanto tempo e de forma tão decadente que tornam-se essencialmente nada mais do que sacos de carne cinza. A mana preta empregada para estas finalidades não ajuda neste sentido. Estes patriarcas são as versões vivas dos fantasmas que compõem o conselho dirigente de Orzhova.</p>
 
 <p>Mas não é apenas no topo da guilda que a linha entre a vida e a morte é manipulada e explorada. Além dos plutocratas fantasmas-patriarcas da guilda, seus outros espíritos são principalmente ornamentados com mascaras e outros adereços de ouro. Eles servem como arautos, sentinelas e símbolos da percistencia e longevidade da guilda. Se alguém esta em dívida com Orzhova e o Obzedat (como muitos estão), essa pessoa deve trabalhar para saldar seu débito, mesmo além do túmulo. Este tempo de serviço geralmente corresponde à centenas de anos, muitas vezes mais do que uma pessoa consiga pagar em uma vida, e por isso muitos escravos Orzhov são espíritos ou mesmo herdam a dívida de seus antepassados distantes.</p>
 
<p>Os serviçais Orzhov incluem também gárgulas e Thrulls (sim, eles trabalham tão bem com a morte que são capazes de cria-los), animados a partir de corpos, que muitas vezes pertencem a líderes menores dentre os próprios membros do Sindicato.</p>
 
<p>Assim como em muitas castas dentro da guilda, os clérigos muitas vezes usam máscaras como uma demonstração simbólica de esconderem seus rostos – por falsidade, bem como vergonha e reverência.</p>

<p>Como qualquer organização de poder hierárquico, o Sindicato Orzhov também possui seus impositores.  Estes soldados Orzhov estão presentes como uma demonstração de força – um símbolo do governo sempre presente de Orzhova.</p>

<p>O Conselho Fantasmal costuma manter apenas as mentes mais inteligentes, as quais por coincidência também são as mais sorrateiras e gananciosas, muitas das quais datam da fundação da própria guilda. É possível que os fundadores do Obzedat eram os representantes Orzhov que originalmente assinaram o Pacto das Guildas, ou que eram apenas os que viveram durante esse tempo. Os séculos de experiência que possuem, em conjunto com suas legiões de advoquistas (magos da lei Orzhov), transformaram os Orzhov na guilda mais dedicada a distorcer o Pacto das Guildas a seu favor. Mesmo com suas deficiências em poder de combate, os Orzhov garantem o respeito das demais guildas através do uso constante de suas riquezas e astúcia.<sup>1</sup></p>
</section>

<aside id="hierarquia">
<h1>HIERARQUIA</h1>

<h2 id="logo">1.CONSELHO FANTASMA</h2>
<p class="hierarquia">O topo da hierarquia dos Orzhov, o conselho é formado por atigos patriarcas das famílias de aristocratas que após a morte, foram consagrados com a vida eterna através da forma etérea de um espírito maior.</p>

<p class="hierarquia">São extremamente poderosos, mas não são muito ativos nem presentes, preferindo transmitir seus desejos por um representante vivo do conselho, que geralmente é um cardeal ou aristocrata, como ocorre atualmente com Teysa Karlov, mas em casos extremos, podem agir por si mesmos, realizando feitos capazes de assustar até os demais líderes de guildas. </p>


<h2 id="logo">2.ARISTOCRATAS E CARDEAIS</h2>
<p class="hierarquia">Logo abaixo do conselho fantasma, estão os Cardeais e os Aristocratas. Ambos disfrutam  do mesmo nível de poder, porém os Cardeais administram o lado religioso da guilda, enquanto os Aristocratas cuidam da parte comercial, especilamente dos bancos e empréstimos.</p>

<p class="hierarquia">Apesar de uma organização poder ouvir a outra a caráter consultivo, uma não interfere na atuação da outra, exceto quando seja ordem direta do Conselho Fantasma</p>

<p class="hierarquia">É sempre um membro dessa casta que é escolhido como representante do Conselho Fantasma. Atualmente esse cargo é ocupado por Teysa Karlov.</p>

<H2 id="logo">3.BISPOS</H2>
<p>Abaixo dos Cardeais, estão os Bispos, que são responsáveis por administras as capelas de uma determinada região, bem como de presidir os julgamentos das denuncias de heresia.</p>


<H2 id="logo">4.CAPELÃES</H2>
<p class="hierarquia">Aqui estão elencados os resposáveis pelas capelas individualmente. Estão diretamente subordinados aos bispos e são os responsáveis pelo recolhimento dos dízimos e por decidir se a denúncia de heresia merece ser levada ao bispo para julgamento.</p>

<H2 id="logo">5.INICIADOS</H2>
<p class="hierarquia">Os iniciados são os recém integrados á igreja. Geralmente jovens de famílias abastadas ou talentos recrutados pelos capelães.</p>

<p class="hierarquia">As responsabilidades dos iniciados, geralmente incluem o auxilio dos capelães em cerimônias religiosas e supervisão dos Thrulls na realização das tarefas cotidianas das capelas como limpeza, ou a realização de tais tarefas em si, no caso de ausencia de Thrulls</p>

<H2 id="logo">6.CAVALEIROS DOS ENCARGOS</H2>
<p class="hierarquia">Subordinados á aristocracia, os cavaleiros dos encargos são responsáveis por gerênciar os empréstimos, bem como o vencimento dos prazos, as cobranças e a aplicação das punições, quando cabíveis, comandando grupos de Soldados da Basílica.</p>

<H2 id="logo">7.SOLDADOS DA BASÍLICA</H2>
<p class="hierarquia">Recém recrutados, os guardas da basílica formam a maior parte da força militar regular dos Orzhov. Geralmente usam armaduras extravagantes e seu treinamento inclui não apenas combate, mas etiqueta e contabilidade, para demonstrar que mesmo a mais baixa categoria dos Orzhov, está acima de qualquer membro das demais guildas</p>

<p class="hierarquia">São diretamente subordinados aos Cavaleiros dos Encargos, e suas atribuições incluem a segurança das capelas, basílicas e mansões dos aristocratas, bem como a execução de sentenças e escaramuças contra devedores ou qualquer outra necessidade militar sob o comando de um Cavaleiro dos Encargos.</p>

<H2 id="logo">8.PESSOAS/ESPÍRITOS DEVEDORES</H2>
<p class="hierarquia">Aqueles que contraíram dívidas e que não conseguiram pagar são usados como servos. Se a dívida não puder ser paga em vida, o devedor e trazido de volta como espírito para dar continuidade a sua servidão. </p>

<p class="hierarquia">Enquanto os vivos cuidam de tarefas cotidianas como os Thrulls, nas quais seja exigida uma aparência minimamente aceitável (como levar uma mensagem a uma pessoa importante), os mortos são costumeiramente usados como sentinelas, mensageiros ou arquivistas dos gigantescos arquivos contábeis dos Orzhov.</p>    

<H2 id="logo">9.THRULLS</H2>
<p class="hierarquia">Os mais baixos dentre os Orzhovs, são criaturas vivas feitas de corpos mortos. Usam máscaras de ouro para cobrir a deformidade que sempre possuem na face em decorrencia do processo que os criou. Apesar de consciêntes, foram criados de forma que sentem imenso prazer em servir seus mestres, de modo que não conseguir cumprir uma ordem costuma ser motivo de suicidio.</p>

<p class="hierarquia">A função dos Thrulls é a de realizar qualquer tarefa que um Orzhov considere indigna para ele mesmo e que não exija grande capacidade cognitiva.</p>


</aside>

<footer id="principal">


</br>Copright &copy;2023- Stephan Morais</footer></br>
    REFERÊNCIAS: <sup>1</sup>.LAMAZUS. Sindicato Orzhov. MTGVortex, 2012. Disponível em: <a href="https://mtgvortex.blogspot.com/2012/11/sindicato-orzhov.html ">https://mtgvortex.blogspot.com/2012/11/sindicato-orzhov.html</a>

</footer>
</div>
  </body>
</html>